body {
  background-color: #2b3e50;
}
#main > .well {
    margin-top: 130px;
}
#main > div.jumbotron {
    background-color: #f5f5f5;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #f5f5f5;
}
#id-chat-area {
    margin-top: 20px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
    background-color: #eee;
}
#id-rooms-title {
    margin-top: 0;
}
#main .jumbotron .form-group {
    margin-bottom: 0;
}